@media screen and (max-width: 760px){
    header{
        flex-direction: column;
    }
    main{
        flex-direction: column;
    }
    h2{
        font-size: 35px;
    }
    p{
        font-size: 20px;
    }
    form{
        margin: 0 auto;
    }
    input{
        align-self: center;
        width: 100%;
    }
    img{
        display: none;
    }
    ul{
        text-align: center;
    }
}