@media screen and (max-width: 760px){
    header{
        flex-direction: column;
    }
    main{
        flex-direction: column;
    }
    h2{
        font-size: 35px;
    }
    p{
        font-size: 20px;
    }
    form{
        margin: 0 auto;
    }
    input{
        align-self: center;
        width: 100%;
    }
    ul{
        text-align: center;
    }
    li{
        margin: 10px;
    }
    .content {
        flex-direction: column; /* Coloca a imagem e o texto em coluna */
        align-items: center; /* Alinha centralmente */
    }
    .text, .image {
        width: 100%; /* Ambos ocupam 100% da largura em telas pequenas */
        padding-right: 0; /* Remove o padding entre as colunas */
    }
    #tittle{
        font-size: 20px;
    }
    #resumo{
        font-size: 15px;
    }
    #copy{
        font-size: 10px;
        padding: 5px;
    }
}
@media (max-width: 480px) {
    li {
      margin: 10px; 
    }
    header{
        flex-direction: column;
    }
    main{
        flex-direction: column;
    }
    h2{
        font-size: 35px;
    }
    p{
        font-size: 20px;
    }
    form{
        margin: 0 auto;
    }
    input{
        align-self: center;
        width: 100%;
    }
    img{
        display: none;
    }
    ul{
        text-align: center;
    }
    #resumo{
        font-size: 15px;
    }
    #copy{
        font-size: 10px;
        padding: 5px;
    }
    
  }