@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
a{
    color: aliceblue;
    text-decoration: none;
}
a:hover{
    color: green;
    transition: 0.3s all;
}
#contato{
    border: 2px solid green;
    padding: 10px;
    border-radius: 15px;
}
#contato:hover{
    background-color: green;
    color: white;
}
h1{
    text-align: center;
    font-family:"Poppins", serif;
}
span{
    color: green;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
}
body{
    background-color: rgb(34, 34, 34);
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    min-height: 100vh;
}

nav ul li {
    display: inline;
    margin: 20px;
    font-family:"Poppins", serif;
}
nav ul {
    list-style-type: none;
    display: flex;
    margin-right: 10px;
    gap: 40px; /* Espaço entre os itens do menu */
}
main{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    align-items: center;
    font-family:"Poppins", serif;
    min-height: 100vh;

}

footer{
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: black;
}
#direito{
    font-size: 10px;
    padding: 1px;
    margin: 0;
    font-family:"Poppins", serif;
}
#home{
    font-family:"Poppins", serif;
    width: 50%;
}
.typing-container {
    text-align: center;
    font-size: 2em;
    color: #333;
    width: 50%;
}

/* Efeito de cursor piscando */
.typing-text::after {
    content: '|';
    animation: blink 0.8s infinite step-start;
}

/* Animação do cursor piscando */
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#content{
display: flex; /* Flexbox */
    justify-content: space-between; /* Espaço entre o texto e a imagem */
    align-items: center;
    width: 100%;
}